
{% load staticfiles %}

{% block custome_css %}
    <link rel="stylesheet" href="{% static 'files/css/upload.css' %}">
{% endblock %}

{% block content %}
    <div class="content">
        <p class="content-note1">注册用户<span class="content-note2"> (标注为*为必填项)</span></p>
        <div style="clear:both"></div>
        <form class="form-table" action="{% url 'users:add' %}" method="post">
            <div class="form-list">
                <span>*账号</span><input {% if userinfo_form.errors.userno %}class="input-error"{% endif %} type="text" name="userno" placeholder="不超过15个字符"/>
            </div>
            <div class="form-list">
                <span>*姓名</span><input {% if userinfo_form.errors.username %}class="input-error"{% endif %} type="text" name="username" placeholder="不超过15个字符"/>
            </div>
            <div class="form-list">
                <span>角色</span>
                <select name="role">
                    <option value="2">系统管理员</option>
                    <option value="1" selected>发布站访客</option>
                </select>
            </div>
            {% if msg %}
                <div class="error">{{ msg }}</div>
            {% endif %}
            <div style="clear:both"></div>
            <div class="form-list">
                <input class="form-button" type="submit"/>
            </div>
            {% csrf_token %}
        </form>
    </div>
{% endblock %}
